AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1

# Optional app launch defaults
S3_BUCKET=amharoc
S3_PREFIX=train_clean
S3_PAGE_SIZE=200

PPOCRLABEL_LINE_TEXT_CSV=/Users/mubarekendrie/Downloads/train_labels.csv

OCR_TRAIN_DATA_ROOT=~/mnt/ocr-dataset/train_data
